@use "./variables" as *;
@use "./functions" as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: $main-bg-color;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  place-items: center;
  min-width: convertPxToRem(300px);
  min-height: 100vh;
  padding: convertPxToRem(10px);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
