$main-bg-color: #0f0f0f;
$card-color: #1d1d1d;
$name-color: #ffffff;
$residence-color: #b1cd32;
$text-color-off-white: #f0f0f0;
$text-color-gray: #d3d3d3;
$link-bg-color: #302f2f;
$text-color-black: #000000;
$hover-bg-color: #b1cd32;
$credit-link-color: #b1cd32;
